//reset css
@import 'normalize.css';
@import '~bootstrap/scss/bootstrap';
//import font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500&family=Roboto:ital,wght@0,300;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --admin-primary-color: #2499ef;
    --admin-background-color: #f3f4f9;
    --admin-icon-width: 4rem;
    --admin-hover-background: aqua;
    --toast-message-success: rgb(54, 228, 54);
    --toast-message-failed: rgb(223, 61, 61);
    --admin-header-height: 7.8rem;
    --client-primary-color: #06b7d7;
    --client-header-height: 72px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
}
.ant-menu-item {
    &:hover {
        color: #0e7490 !important;
        &::after {
            border-color: #0e7490 !important;
        }
    }
}
.ant-menu-item-selected {
    color: #0e7490 !important;
    &::after {
        border-color: #0e7490 !important;
    }
}
.carousel .thumbs {
    display: flex;
    .thumb {
        position: relative;
        pointer-events: unset;
        height: auto;
    }
}