.container {
    display: flex;
    align-items: center;
    padding: 1rem 3rem;
    &:hover {
        cursor: pointer;
        background-color: var(--admin-background-color);
        transition: all ease-in-out 0.5s;
    }
}
.icon {
    width: var(--admin-icon-width);
    margin-right: 0.8rem;
}
.content {
    font-weight: 500;
}
