.container {
    text-align: center;
    position: relative;
    input {
        display: none;
    }
    img {
        width: 100%;
        margin: auto;
        height: 100%;
        object-fit: contain;
    }

    label {
        font-weight: 600;
        cursor: pointer;
        color: #333;
        border-radius: 0.8rem;
        padding: 1rem;
    }
}
