.container {
    text-align: center;
    position: relative;
    input {
        display: none;
    }
    img {
        width: 100%;
        object-fit: contain;
        // margin-left: 3rem;
    }

    label {
        font-weight: 600;
        cursor: pointer;
        color: #333;
        border-radius: 0.8rem;
        padding: 1rem;
        // position: absolute;
        // top: -15%;
        // right: -10%;
    }
}
